<!-- Policies controller -->
<div ng-controller="PoliciesController">

    <!-- Modal Header -->
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Edit policy</h3>
    </div>

    <!-- JSON Editor -->
    <div class="editor-toolbar">
        <div class="btn-group">

        </div>
    </div>
    <div class="editor">
        <span class="editor-line-numbers">
            <div ng-repeat="i in [].constructor(nrOfLines) track by $index">{$ $index+1 $}</div>
        </span>
        <span autocomp class="editor-field">
            <textarea class="editor-textarea editor-input" ng-model="editorContent" ng-change="editorContentChanged()" spellcheck="false" ng-trim="false" autocomp-item="autocomp_results" ng-init="init()"></textarea>
        </span>
    </div>

    <!-- Modal Footer -->
    <div class="modal-footer">

        <div class="input-group file-upload">
            <!--File input field-->
            <div class="fileUpload">
                <input type="file" id="uploadFile" name="uploadFile"/>
            </div>

            <!-- Upload Button -->
            <div class="btn-group-leftside">
                <div class="btn-group uploadButton">
                    <button class="btn btn-primary uploadBtn"
                        type="button"
                        title="Upload"
                        ng-click="uploadFile()">
                        <span class="fa fa-upload"></span>
                        Upload
                    </button>
                </div>

                <!-- Download Button -->
                <div class="btn-group downloadButton">
                    <button class ="btn btn-primary downloadBtn"
                        type="button"
                        title="Download"
                        ng-click="downloadFile()">
                        <span class="fa fa-download"></span>
                        Download
                    </button>
                </div>
            </div>

            <div class="btn-group-rightside">
                <!-- Cancel Button -->
                <button class="btn btn-warning"
                    type="button"
                    ng-click="cancel()">
                    <span class="fa fa-times"></span>
                    Cancel
                </button>

                <!-- OK Button -->
                <button class="btn btn-primary mr-1"
                    type="button"
                    ng-click="save()">
                    <span class="fa fa-check"></span>
                    Save
                </button>
            </div>
        </div>
    </div>
</div>
