<!-- Policies controller -->
<div ng-controller="PoliciesController">

    <!-- Modal Header -->
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Edit policy</h3>
    </div>

    <!-- JSON Editor -->
    <div class="editor-toolbar">
        <div class="btn-group">
            <!--
            <label class="btn btn-default" type="button">Left</label>
            <label class="btn btn-default" type="button">Middle</label>
            <label class="btn btn-default" type="button">Right</label>
            <label class="btn btn-default" type="button">Left</label>
            <label class="btn btn-default" type="button">Middle</label>
            <label class="btn btn-default" type="button">Right</label>
            <label class="btn btn-default" type="button">Left</label>
            <label class="btn btn-default" type="button">Middle</label>
            <label class="btn btn-default" type="button">Right</label>
            <label class="btn btn-default" type="button">Left</label>
            <label class="btn btn-default" type="button">Middle</label>
            <label class="btn btn-default" type="button">Right</label>
            -->
        </div>
    </div>
    <div class="editor">
        <span class="editor-line-numbers">
            <div ng-repeat="i in [].constructor(nrOfLines) track by $index">{$ $index+1 $}</div>
        </span>
        <span autocomp class="editor-field">
            <textarea class="editor-textarea editor-input" ng-model="editorContent" ng-change="editorContentChanged()" spellcheck="false" ng-trim="false" autocomp-item="autocomp_results" ng-init="init()"></textarea>
        </span>
    </div>





    <!--
    <div>
        Icons
        <br>
        fa fa-bars
        <span class="fa fa-bars"></span>
        fa-caret-down
        <span class="fa fa-caret-down"></span>
        fa-check
        <span class="fa fa-check"></span>
        fa-check-square
        <span class="fa fa-check-square"></span>
        fa-clipboard
        <span class="fa fa-clipboard"></span>
        <br>
        fa-clone
        <span class="fa fa-clone"></span>
        fa-code
        <span class="fa fa-code"></span>
        fa-columns
        <span class="fa fa-columns"></span>
        <br>
        fa-copy
        <span class="fa fa-copy"></span>
        fa-download
        <span class="fa fa-download"></span>
        fa-edit
        <span class="fa fa-edit"></span>
        fa-ellipsis-h
        <span class="fa fa-ellipsis-h"></span>
        <br>
        fa-ellipsis-v
        <span class="fa fa-ellipsis-v"></span>
        fa-expand
        <span class="fa fa-expand"></span>
        fa-compress
        <span class="fa fa-compress"></span>
        <br>
        fa-exclamation
        <span class="fa fa-exclamation"></span>
        fa-eraser
        <span class="fa fa-eraser"></span>
        fa-exclamation-circle
        <span class="fa fa-exclamation-circle"></span>
        <br>
        fa-eye
        <span class="fa fa-eye"></span>
        fa-eye-slash
        <span class="fa fa-eye-slash"></span>
        fa-filter
        <span class="fa fa-filter"></span>
        fa-font
        <span class="fa fa-font"></span>
        fa-folder
        <span class="fa fa-folder"></span>
        fa-folder-open
        <span class="fa fa-folder-open"></span>
        fa-grip-horizontal
        <span class="fa fa-grip-horizontal"></span>
        <br>
        fa-history
        <span class="fa fa-history"></span>
        fa-home
        <span class="fa fa-home"></span>
        <br>
        fa-indent
        <span class="fa fa-indent"></span>
        fa-info
        <span class="fa fa-info"></span>
        fa-info-circle
        <span class="fa fa-info-circle"></span>
        fa-italic
        <span class="fa fa-italic"></span>
        fa-keyboard
        <span class="fa fa-keyboard"></span>
        <br>
        fa-key
        <span class="fa fa-key"></span>
        fa-list
        <span class="fa fa-list"></span>
        fa-lock
        <span class="fa fa-lock"></span>
        fa-minus
        <span class="fa fa-minus"></span>
        fa-minus-square
        <span class="fa fa-minus-square"></span>
        <br>
        fa-outdent
        <span class="fa fa-outdent"></span>
        fa-paperclip
        <span class="fa fa-paperclip"></span>
        fa-paste
        <span class="fa fa-paste"></span>
        <br>
        fa-paragraph
        <span class="fa fa-paragraph"></span>
        fa-plus
        <span class="fa fa-plus"></span>
        fa-plus-circle
        <span class="fa fa-plus-circle"></span>
        fa-plus-square
        <span class="fa fa-plus-square"></span>
        <br>
        fa-print
        <span class="fa fa-print"></span>
        fa-question-circle
        <span class="fa fa-question-circle"></span>
        fa-quote-left
        <span class="fa fa-quote-left"></span>
        fa-quote-right
        <span class="fa fa-quote-right"></span>
        <br>
        fa-question
        <span class="fa fa-question"></span>
        fa-save
        <span class="fa fa-save"></span>
        fa-search
        <span class="fa fa-search"></span>
        fa-search-minus
        <span class="fa fa-search-minus"></span>
        fa-search-plus
        <span class="fa fa-search-plus"></span>
        <br>
        fa-sort
        <span class="fa fa-sort"></span>
        <br>
        fa-sort-down
        <span class="fa fa-sort-down"></span>
        fa-sort-up
        <span class="fa fa-sort-up"></span>
        fa-spinner
        <span class="fa fa-spinner"></span>
        fa-square
        <span class="fa fa-square"></span>
        <br>
        fa-table
        <span class="fa fa-table"></span>
        fa-tag
        <span class="fa fa-tag"></span>
        fa-tags
        <span class="fa fa-tags"></span>
        fa-text-width
        <span class="fa fa-text-width"></span>
        <br>
        fa-text-height
        <span class="fa fa-text-height"></span>
        fa-th
        <span class="fa fa-th"></span>
        fa-th-large
        <span class="fa fa-th-large"></span>
        fa-th-list
        <span class="fa fa-th-list"></span>
        fa-times
        <span class="fa fa-times"></span>
        <br>
        fa-times-circle
        <span class="fa fa-times-circle"></span>
        fa-toggle-on
        <span class="fa fa-toggle-on"></span>
        fa-toggle-off
        <span class="fa fa-toggle-off"></span>
        fa-trash
        <span class="fa fa-trash"></span>
        fa-trash-alt
        <span class="fa fa-trash-alt"></span>
        <br>
        fa-undo
        <span class="fa fa-undo"></span>
        fa-underline
        <span class="fa fa-underline"></span>
        fa-upload
        <span class="fa fa-upload"></span>
        fa-unlock-alt
        <span class="fa fa-unlock-alt"></span>
        <br>
        fa-unlock
        <span class="fa fa-unlock"></span>
        fa-unlink
        <span class="fa fa-unlink"></span>
        fa-window-close
        <span class="fa fa-window-close"></span>
        fa-window-maximize
        <span class="fa fa-window-maximize"></span>
        fa-window-minimize
        <span class="fa fa-window-minimize"></span>
        <br>
        fa-window-restore
        <span class="fa fa-window-restore"></span>
        fa-wrench
        <span class="fa fa-wrench"></span>
        <br>
    </div>
    -->

    <!-- Modal Footer -->
    <div class="modal-footer">

        <!-- Cancel Button -->
        <button class="btn btn-warning"
            type="button"
            ng-click="cancel()">
            Cancel
        </button>

        <!-- OK Button -->
        <button class="btn btn-primary"
            type="button"
            ng-click="save()">
            Save
        </button>
    </div>
</div>
