# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

hacking>=3.0.1,<3.1.0 # Apache-2.0

#yank this for now. We aren't doing unit testing. I'm sure we
#are going to have problem with stable/liberty and master coexistance
#at some point!
#http://tarballs.openstack.org/horizon/horizon-master.tar.gz#egg=horizon
coverage!=4.4,>=4.0 # Apache-2.0
mock>=2.0.0 # BSD
pylint==1.4.5 # GPLv2
testtools>=2.3.0 # MIT
unittest2>=1.1.0 # BSD
nodeenv>=0.9.4 # BSD
ddt>=1.0.1 # MIT
# integration tests requirements
# This also needs xvfb library installed on your OS
selenium>=2.50.1 # Apache-2.0
xvfbwrapper>=0.1.3 #license: MIT
