.input-group-window {
    width: 100%;
    display: flex;
    align-items: flex-end;
}


/* Modal Content */
.modal-content {
   background-color: #fefefe;
   margin: auto;
   padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.window-label {
    width: 100%;
}