<!-- Search Controller -->
<div ng-controller="SearchController as $schCtrl">

    <!-- Search bar -->
    <div class="policies-search-bar" ng-class="{'options-visible': showOptions}">
        <div class="input-group" ng-class="{'options-visible': showOptions}">

            <!-- Search input field -->
            <input ng-model="$schCtrl.query" id="query" class="form-control" placeholder="Search">

            <!-- Search buttons group -->
            <div class="input-group-btn">

                <!-- Custome search button -->
                <div class="btn-group">
                    <button class="btn btn-default search-options-button"
                            ng-class="{'options-visible': showOptions}"
                            type="button"
                            title="Custom search"
                            uib-btn-checkbox
                            btn-checkbox-true="1"
                            btn-checkbox-false="0"
                            ng-model="showOptions">
                        <span class="fa fa-search"> </span>
                        <span class="fa fa-caret-down"></span>
                    </button>
                </div>

                <!-- Refresh button -->
                <div class="btn-group">
                    <button class="btn btn-default"
                            id="refresh-button"
                            type="button"
                            title="Refresh"
                            ng-click="$schCtrl.reloadPolicies()">
                        <i class="fa fa-refresh"></i>
                    </button>
                </div>

                <!-- Help button -->
                <div class="btn-group">
                    <button class="btn btn-default"
                            id="info-button"
                            type="button"
                            title="Help"
                            ng-click="$schCtrl.openInfoModal()"
                            ng-class="{'options-visible': showOptions}">
                        <i class="fa fa-info-circle"></i>
                    </button>
                </div>

            </div>
        </div>

        <!-- Search settings button drop down menu-->
        <div class="search-options" ng-class="{'options-visible': showOptions}">

            <!-- Search in Project column -->
            <span id="project-checkbox">
                <input type="checkbox"
                    ng-model="$schCtrl.policies.searchColumns.project"
                    ng-checked="$schCtrl.policies.searchColumns.project"
                    ng-change="$schCtrl.searchOptionsChanged()"/> Project
            </span>

            <!-- Search in Target column -->
            <span id="target-checkbox">
                <input type="checkbox"
                    ng-model="$schCtrl.policies.searchColumns.target"
                    ng-checked="$schCtrl.policies.searchColumns.target"
                    ng-change="$schCtrl.searchOptionsChanged()"/> Target
            </span>

            <!-- Search in Rule column -->
            <span id="rule-checkbox">
                <input type="checkbox"
                    ng-model="$schCtrl.policies.searchColumns.rule"
                    ng-checked="$schCtrl.policies.searchColumns.rule"
                    ng-change="$schCtrl.searchOptionsChanged()"/> Rule
            </span>

            <!-- Search in Default Rule column -->
            <span id="default-checkbox">
                <input type="checkbox"
                    ng-model="$schCtrl.policies.searchColumns.defaultRule"
                    ng-checked="$schCtrl.policies.searchColumns.defaultRule"
                    ng-change="$schCtrl.searchOptionsChanged()"/> Default
            </span>

            <!-- Search in Scopes column -->
            <span id="scopes-checkbox">
                <input type="checkbox"
                    ng-model="$schCtrl.policies.searchColumns.scopes"
                    ng-checked="$schCtrl.policies.searchColumns.scopes"
                    ng-change="$schCtrl.searchOptionsChanged()"/> Scopes
            </span>

            <!-- Search in Operations column -->
            <span id="operations-checkbox">
                <input type="checkbox"
                    ng-model="$schCtrl.policies.searchColumns.operations"
                    ng-checked="$schCtrl.policies.searchColumns.operations"
                    ng-change="$schCtrl.searchOptionsChanged()"/> Operations
            </span>

            <!-- Search in Description column -->
            <span id="description-checkbox">
                <input type="checkbox"
                    ng-model="$schCtrl.policies.searchColumns.description"
                    ng-checked="$schCtrl.policies.searchColumns.description"
                    ng-change="$schCtrl.searchOptionsChanged()"/> Description
            </span>

        </div>

    </div>
</div>
<br>
