<div ng-controller="TableController">

    <!-- Manage buttons -->
    <div class="actions-bar" ng-class="{'actions-visible': (actionsBarVisible)}">
        <p class="manager-text" ng-class="{'actions-visible': (actionsBarVisible)}">{$ selectedPolicies.length $} policies selected</p>
        <div class="btn-group actions-bar-buttons-group">
            <button class="btn btn-default actions-bar-button" id="reset-button" ng-click="openEditorModal()" ng-class="{'actions-visible': (actionsBarVisible)}" type="button" title="Reset selected">
                <svg-icons p="history" id="reset-btn"></svg-icons> Reset
            </button>
            <button class="btn btn-default actions-bar-button" id="download-button" ng-click="downloadSelected()" ng-class="{'actions-visible': (actionsBarVisible)}" type="button" title="Download selected">
                <svg-icons p="file_download" id="download-btn"></svg-icons> Download
            </button>
            <button class="btn btn-default actions-bar-button" id="edit-button" ng-click="openEditorModal()" ng-class="{'actions-visible': (actionsBarVisible)}" type="button" title="Edit selected">
                <svg-icons p="pen_square" id="edit-btn"></svg-icons> Edit
            </button>
            <button class="btn btn-default actions-bar-button" id="clear-button" ng-click="clearAllSelected()" ng-class="{'actions-visible': (actionsBarVisible)}" type="button" title="Clear selected">
                <svg-icons p="times_circle_solid" id="clear-btn"></svg-icons> Clear
            </button>
        </div>
    </div>

    <!-- Table -->
    <table class="policies-table" ng-class="{'actions-visible': (actionsBarVisible)}">
        <!-- Table headers -->
        <thead>
            <!-- Table headers row-->
            <tr>

                <!-- Checkbox column header -->
                <th class="non-resizable-column" id="checkbox-column-header">
                    <div class="col-header col-check" title="Select all rows">
                        <input class="table-checkbox" type="checkbox" ng-model="selectAll" ng-checked="selectAll" ng-init="selectAll=false" ng-change="toggleSelectAll()">
                    </div>
                </th>

                <!-- Expander column header -->
                <th class="non-resizable-column" id="expander-column-header">
                    <div class="col-header col-expander" ng-click="toggleExpandAll()">
                        <span title="Expand all" ng-if="!expandAll"
                                    class="fa fa-chevron-right"
                                    duration="200">
                        </span>
                        <span ng-if="expandAll"
                                class="fa fa-chevron-down"
                                duration="200">
                        </span>
                    </div>
                </th>

                <!-- Project column header -->
                <th class="resizable-column" id="project-column-header" ng-show="visibleColumns.project">
                    <div class="col-header col-project" title="Sort by project" ng-click="sortPolicies('project')">Project
                        <span ng-show="sortColumn == 'project'">
                            <span ng-show="!sortReverse" class="fa fa-sort-down"></span>
                            <span ng-show="sortReverse" class="fa fa-sort-up"></span>
                        </span>
                    </div>
                </th>

                <!-- Target column header -->
                <th class="resizable-column" id="target-column-header" ng-show="visibleColumns.target">
                    <div class="col-header col-target" title="Sort by target" ng-click="sortPolicies('target')">Target
                        <span ng-show="sortColumn == 'target'">
                            <span ng-show="!sortReverse" class="fa fa-sort-down"></span>
                            <span ng-show="sortReverse" class="fa fa-sort-up"></span>
                        </span>
                    </div>
                </th>

                <!-- Rule column header -->
                <th class="resizable-column" id="rule-column-header" ng-show="visibleColumns.rule">
                    <div class="col-header col-rule" title="Sort by rule" ng-click="sortPolicies('rule')">Rule
                        <span ng-show="sortColumn == 'rule'">
                            <span ng-show="!sortReverse" class="fa fa-sort-down"></span>
                            <span ng-show="sortReverse" class="fa fa-sort-up"></span>
                        </span>
                    </div>
                </th>

                <!-- Default rule column header -->
                <th class="resizable-column" id="default-column-header" ng-show="visibleColumns.defaultRule">
                    <div class="col-header col-default" title="Sort by default" ng-click="sortPolicies('defaultRule')">Default
                        <span ng-show="sortColumn == 'defaultRule'">
                            <span ng-show="!sortReverse" class="fa fa-sort-down"></span>
                            <span ng-show="sortReverse" class="fa fa-sort-up"></span>
                        </span>
                    </div>
                </th>

                <!-- Scopes column header -->
                <th class="resizable-column" id="scopes-column-header" ng-show="visibleColumns.scopes">
                    <div class="col-header col-scopes" title="Sort by scopes" ng-click="sortPolicies('scopes')">Scopes
                        <span ng-show="sortColumn == 'scopes'">
                            <span ng-show="!sortReverse" class="fa fa-sort-down"></span>
                            <span ng-show="sortReverse" class="fa fa-sort-up"></span>
                        </span>
                    </div>
                </th>

                <!-- Operations column header -->
                <th class="resizable-column" id="operations-column-header" ng-show="visibleColumns.operations">
                    <div class="col-header col-operations" title="Sort by operations" ng-click="sortPolicies('operations')">Operations
                        <span ng-show="sortColumn == 'operations'">
                            <span ng-show="!sortReverse" class="fa fa-sort-down"></span>
                            <span ng-show="sortReverse" class="fa fa-sort-up"></span>
                        </span>
                    </div>
                </th>

                <!-- Description column header -->
                <th class="resizable-column" id="description-column-header" ng-show="visibleColumns.description">
                    <div class="col-header col-description" title="Sort by description" ng-click="sortPolicies('description')">Description
                        <span ng-show="sortColumn == 'description'">
                            <span ng-show="!sortReverse" class="fa fa-sort-down"></span>
                            <span ng-show="sortReverse" class="fa fa-sort-up"></span>
                        </span>
                    </div>
                </th>

                <!-- Table settings column header -->
                <th class="non-resizable-column">
                    <div class="col-header col-settings" title="Customize table view">
                        <div class="btn-group table-settings-button" uib-dropdown auto-close="outsideClick">
                            <svg-icons p="bars" title="Table settings" id="table-settings-button" uib-dropdown-toggle></svg-icons>
                            <!-- Settings button drop down menu-->
                            <ul class="dropdown-menu dropdown-menu-right table-settings-menu" uib-dropdown-menu role="menu" aria-labelledby="table-settings-button">
                                <!-- Show/hide project column in policies table -->
                                <li class="table-settings-menu-item" role="menuitem">Columns</li>
                                <li class="divider"></li>

                                <li class="table-settings-menu-item" role="menuitem">
                                    <input type="checkbox" id="projectFilter" ng-model="visibleColumns.project" ng-checked="visibleColumns.project" ng-change="storeVisibleColumns()"/> Project
                                </li>

                                <li class="table-settings-menu-item" role="menuitem">
                                    <input type="checkbox" ng-model="visibleColumns.target" ng-checked="visibleColumns.target" ng-change="storeVisibleColumns()"/> Target
                                </li>

                                <li class="table-settings-menu-item" role="menuitem">
                                    <input type="checkbox" ng-model="visibleColumns.rule" ng-checked="visibleColumns.rule" ng-change="storeVisibleColumns()"/> Rule
                                </li>

                                <li class="table-settings-menu-item" role="menuitem">
                                    <input type="checkbox" ng-model="visibleColumns.defaultRule" ng-checked="visibleColumns.defaultRule" ng-change="storeVisibleColumns()"/> Default
                                </li>

                                <li class="table-settings-menu-item" role="menuitem">
                                    <input type="checkbox" ng-model="visibleColumns.scopes" ng-checked="visibleColumns.scopes" ng-change="storeVisibleColumns()"/> Scopes
                                </li>

                                <li class="table-settings-menu-item" role="menuitem">
                                    <input type="checkbox" ng-model="visibleColumns.operations" ng-checked="visibleColumns.operations" ng-change="storeVisibleColumns()"/> Operations
                                </li>

                                <li class="table-settings-menu-item" role="menuitem">
                                    <input type="checkbox" ng-model="visibleColumns.description" ng-checked="visibleColumns.description" ng-change="storeVisibleColumns()"/> Description
                                </li>

                                <li class="divider"></li>

                                <li class="table-settings-menu-item" role="menuitem">Results per page</li>
                                <div class="select-control">
                                    <select ng-model="policies.itemsPerPage" id="itemsPerPage" class="form-control" ng-change="itemsPerPageChanged(policies.itemsPerPage)">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="200">200</option>
                                    </select>
                                </div>
                            </ul>
                        </div>
                    </div>
                </th>
            </tr>
        </thead>

        <!-- Table body -->
        <tbody>
            <!-- Table body rows -->
            <tr ng-repeat-start="policy in policies.filteredPolicies | limitTo:policies.itemsPerPage:policies.currentPage*policies.itemsPerPage track by $index" ng-class-even="'even-table-item'" context-menu="menuOptions">

                <!--  Checkbox column content -->
                <td id="checkbox-column-body" class="multi_select_column">
                    <div class="wrap">
                        <input class="table-checkbox"
                        type="checkbox"
                        ng-model="policy.selected"
                        ng-checked="policy.selected"
                        ng-init="policy.selected=false"
                        ng-change="toggleSelect()"/>
                    </div>
                </td>

                <!--  Expander column content -->
                <td id="expander-column-body" title="Expand column content" class="expander expander-column" ng-model="policy.expanded" ng-init="policy.expanded=false" ng-click="policy.expanded=!policy.expanded">
                    <div class="wrap">
                        <span ng-if="!policy.expanded" class="fa fa-chevron-right" duration="200"></span>
                        <span ng-if="policy.expanded" class="fa fa-chevron-down" duration="200"></span>
                    </div>
                </td>

                <!--  Project column content -->
                <td id="project-column-body" ng-show="visibleColumns.project">
                    <span ng-if="!policy.expanded">
                        <div class="wrap" style="max-height: 20px;">
                            <span tooltip-placement="top" uib-tooltip="{$ policy.project $}" tooltip-popup-delay="500" tooltip-class="policies-tooltip">
                                {$ policy.project $}
                            </span>
                        </div>
                    </span>
                    <span ng-if="policy.expanded">
                        <div class="wrap" style="max-height: 500px;">
                            {$ policy.project $}
                        </div>
                    </span>
                </td>

                <!--  Target column content -->
                <td id="target-column-body" ng-show="visibleColumns.target">
                    <span ng-if="!policy.expanded">
                        <div class="wrap" style="max-height: 20px;">
                            <span tooltip-placement="top" uib-tooltip="{$ policy.target $}" tooltip-popup-delay="500" tooltip-class="policies-tooltip">
                                {$ policy.target $}
                            </span>
                        </div>
                    </span>
                    <span ng-if="policy.expanded">
                        <div class="wrap" style="max-height: 500px;">
                            {$ policy.target $}
                        </div>
                    </span>
                </td>

                <!--  Rule column content -->
                <td id="rule-column-body" ng-show="visibleColumns.rule">
                    <span ng-if="!policy.expanded">
                        <div class="wrap" style="max-height: 20px;">
                            <span ng-if="!policy.editMode" tooltip-placement="top" uib-tooltip="{$ policy.rule $}" tooltip-popup-delay="500" tooltip-class="policies-tooltip">
                                <a ng-click="OpenDetailsModal(policy)">{$ policy.rule $}</a>
                            </span>
                        </div>
                    </span>
                    <span ng-if="policy.expanded && !policy.editMode">
                        <div class="wrap" style="max-height: 500px;">
                            <a ng-click="OpenDetailsModal(policy)">{$ policy.rule $}</a>
                        </div>
                    </span>
                </td>

                <!--  Default rule column content -->
                <td id="default-column-body" ng-show="visibleColumns.defaultRule">
                    <span ng-if="!policy.expanded">
                        <div class="wrap" style="max-height: 20px;">
                            <span tooltip-placement="top" uib-tooltip="{$ policy.defaultRule $}" tooltip-popup-delay="500" tooltip-class="policies-tooltip">
                                {$ policy.defaultRule  $}
                            </span>
                        </div>
                    </span>
                    <span ng-if="policy.expanded">
                        <div class="wrap" style="max-height: 500px;">
                            {$ policy.defaultRule $}
                        </div>
                    </span>
                </td>

                <!--  Scopes column content -->
                <td id="scopes-column-body" ng-show="visibleColumns.scopes">
                    <div ng-if="!policy.expanded" class="wrap" style="max-height: 20px;">
                        <div ng-repeat="scope in policy.scopes track by $index">
                            <span tooltip-placement="top" uib-tooltip="{$ policy.scopes $}" tooltip-popup-delay="500" tooltip-class="policies-tooltip">
                                {$ scope  $}
                            </span>
                        </div>
                    </div>
                    <div ng-if="policy.expanded" class="wrap" style="max-height: 500px;">
                        <div ng-repeat="scope in policy.scopes track by $index">
                            <span tooltip-placement="top" uib-tooltip="{$ policy.scopes $}" tooltip-popup-delay="500" tooltip-class="policies-tooltip">
                                {$ scope $}
                            </span>
                        </div>
                    </div>
                </td>

                <!--  Operations column content -->
                <td id="operations-column-body" ng-show="visibleColumns.operations">
                    <div ng-if="!policy.expanded" class="wrap" style="max-height: 20px;">
                        <div ng-repeat="operation in policy.operations track by $index">
                            <span tooltip-placement="bottom" uib-tooltip="{$ policy.operations $}" tooltip-popup-delay="500" tooltip-class="policies-top">
                                {$ operation $}
                            </span>
                        </div>
                    </div>
                    <div ng-if="policy.expanded" class="wrap" style="max-height: 500px;">
                        <div ng-repeat="operation in policy.operations track by $index">
                            <span tooltip-placement="top" uib-tooltip="{$ policy.operations $}" tooltip-popup-delay="500" tooltip-class="policies-tooltip">
                                {$ operation $}
                            </span>
                        </div>
                    </div>
                </td>

                <!--  Description column content -->
                <td id="description-column-body" ng-show="visibleColumns.description">
                    <span ng-if="!policy.expanded">
                        <div class="wrap" style="max-height: 20px;">
                            <span tooltip-placement="top" uib-tooltip="{$ policy.description $}" tooltip-popup-delay="500" tooltip-class="policies-tooltip">
                                {$ policy.description $}
                            </span>
                        </div>
                    </span>
                    <span ng-if="policy.expanded">
                        <div class="wrap" style="max-height: 500px;">
                            {$ policy.description $}
                        </div>
                    </span>
                </td>

                <!--  Empty row column for table settings header-->
                <td></td>

            <tr ng-repeat-end></tr>
        </tbody>
    </table>

</div>