<!-- Policies controller -->
<div ng-controller="TableController">

    <!-- Modal Header -->
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Edit policy</h3>
    </div>

    <!-- Editor toolbar -->
    <div class="editor-toolbar">

        <!-- Editor history button group -->
        <div class="btn-group">
            <!-- Undo button -->
            <button class="btn btn-default toolbar-btn"
                type="button"
                title="Undo changes"
                ng-click="">
                <svg-icon p="undo_alt" id="undo-btn"></svg-icon>
            </button>
            <!-- Redo button -->
            <button class="btn btn-default toolbar-btn"
                type="button"
                title="Redo changes"
                ng-click="">
                <svg-icon p="redo_alt" id="redo-btn"></svg-icon>
            </button>
        </div>

        <!-- Clipboard button group -->
        <div class="btn-group">
            <!-- Copy button -->
            <button class="btn btn-default toolbar-btn"
                type="button"
                title="Copy policies"
                ng-click="">
                <svg-icon p="copy_solid" id="copy-btn"></svg-icon>
            </button>
            <!-- Paste button -->
            <button class="btn btn-default toolbar-btn"
                type="button"
                title="Paste policies"
                ng-click="">
                <svg-icon p="paste" id="paste-btn"></svg-icon>
            </button>
        </div>

        <!-- Editor design button group -->
        <div class="btn-group">
            <!-- Autocomplete button -->
            <button class="btn btn-default toolbar-btn"
                type="button"
                title="Enable/disable suggestions"
                ng-click="">
                <svg-icon p="edit_solid" id="autocomp-btn"></svg-icon>
            </button>
            <!-- Suggestions button -->
            <button class="btn btn-default toolbar-btn"
                type="button"
                title="Manage suggestions"
                ng-click="">
                <svg-icon p="list_alt_solid" id="suggestions-btn"></svg-icon>
            </button>
            <!-- Ruler button -->
            <button class="btn btn-default toolbar-btn"
                type="button"
                title="Show/hide line numbers"
                ng-click="">
                <svg-icon p="ruler" id="ruler-btn"></svg-icon>
            </button>
            <!-- Font button -->
            <button class="btn btn-default toolbar-btn"
                type="button"
                title="Font family"
                ng-click="">
                <svg-icon p="font" id="font-btn"></svg-icon>
            </button>
        </div>

        <!-- Policy actions button group -->
        <div class="btn-group">
            <!-- Delete button -->
            <button class="btn btn-default toolbar-btn"
                type="button"
                title="Delete policies"
                ng-click="">
                <svg-icon p="trash" id="delete-btn"></svg-icon>
            </button>
            <!-- Restore button -->
            <button class="btn btn-default toolbar-btn"
                type="button"
                title="Restore policies"
                ng-click="">
                <svg-icon p="trash_restore" id="restore-btn"></svg-icon>
            </button>
            <!-- Reload button -->
            <button class="btn btn-default toolbar-btn"
                type="button"
                title="Reload policies"
                ng-click="">
                <svg-icon p="sync_alt" id="reload-btn"></svg-icon>
            </button>
            <!-- Defaults button -->
            <button class="btn btn-default toolbar-btn"
                type="button"
                title="Restore defaults"
                ng-click="">
                <svg-icon p="history" id="defaults-btn"></svg-icon>
            </button>
        </div>

        <!-- Policy file actions button group -->
        <div class="btn-group">
            <!-- Download button -->
            <button class="btn btn-default toolbar-btn"
                type="button"
                title="Download policies"
                ng-click="">
                <svg-icon p="file_download" id="download-btn"></svg-icon>
            </button>
            <!-- Upload button -->
            <button class="btn btn-default toolbar-btn"
                type="button"
                title="Upload policies"
                ng-click="">
                <svg-icon p="file_upload" id="upload-btn"></svg-icon>
            </button>
            <!-- Print button -->
            <button class="btn btn-default toolbar-btn"
                type="button"
                title="Print policies"
                ng-click="">
                <svg-icon p="print" id="print-btn"></svg-icon>
            </button>
        </div>

        <!-- Editor settings button group -->
        <div class="btn-group">
            <!-- Settings button -->
            <button class="btn btn-default toolbar-btn"
                type="button"
                title="Settings"
                ng-click="">
                <svg-icon p="cog"id="settings-btn"></svg-icon>
            </button>
            <!-- Help button -->
            <button class="btn btn-default toolbar-btn"
                type="button"
                title="Help"
                ng-click="">
                <svg-icon p="question_circle_solid" id="help-btn"></svg-icon>
            </button>
        </div>
    </div>

    <!-- Editor -->
    <div class="editor">
        <span class="editor-line-numbers">
            <div ng-repeat="i in [].constructor(nrOfLines) track by $index">{$ $index+1 $}</div>
        </span>
        <span editor-autocomplete class="editor-field">
            <textarea class="editor-textarea editor-input" ng-model="editorContent" ng-change="editorContentChanged()" spellcheck="false" ng-trim="false" autocomplete-item="autocomp_results" ng-init="init()"></textarea>
        </span>
    </div>

    <!-- Modal Footer -->
    <div class="modal-footer">

        <div class="input-group file-upload">
            <!--File input field-->
            <div class="fileUpload">
                <input type="file" id="uploadFile" name="uploadFile"/>
            </div>

            <!-- Upload Button -->
            <div class="btn-group-leftside">
                <div class="btn-group uploadButton">
                    <button class="btn btn-primary uploadBtn"
                        type="button"
                        title="Upload"
                        ng-click="uploadFile()">
                        <span class="fa fa-upload"></span>
                        Upload
                    </button>
                </div>

                <!-- Download Button -->
                <div class="btn-group downloadButton">
                    <button class ="btn btn-primary downloadBtn"
                        type="button"
                        title="Download"
                        ng-click="downloadFile()">
                        <span class="fa fa-download"></span>
                        Download
                    </button>
                </div>
            </div>

            <div class="btn-group-rightside">
                <!-- Cancel Button -->
                <button class="btn btn-warning"
                    type="button"
                    ng-click="cancel()">
                    <svg-icon p="times_circle_solid" id="cancel-btn"></svg-icon>
                    Cancel
                </button>

                <!-- OK Button -->
                <button class="btn btn-primary mr-1"
                    type="button"
                    ng-click="save()">
                    <svg-icon p="save_solid" id="save-btn"></svg-icon>
                    Save
                </button>
            </div>
        </div>
    </div>
</div>
