.table-settings-menu-item {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.table-settings-button {
    float: right;
}

.input-group {
    width: 100%;
    display: flex;
}

.goToTop
    {
        position: fixed;
        width: 100px;
        height: 40px;
        bottom: 0;
        right: 0;
        z-index: 100000;
        cursor: pointer;
        margin: 10px;
        -moz-opacity: 0.60;
        opacity: .60;
        filter: alpha(opacity=60);
    }