<!-- Policies table controller -->
<div ng-controller="PoliciesController" class="table-view">

    <!-- Page header -->
    <hz-page-header header="{$ 'Policies' | translate $}"></hz-page-header>

    <!-- Search bar -->
    <div class="input-group">
        <input ng-model="query" id="query" class="form-control" placeholder="Search">

        <div class="input-group-btn">

            <!-- Search settings button -->
            <div class="btn-group" uib-dropdown auto-close="outsideClick">
                <button title="Search" type="button" id="search-settings-button" class="btn btn-default" uib-dropdown-toggle>
                    <span class="fa fa-search"></span> <span class="fa fa-caret-down"></span>
                </button>
                <!-- Search settings button drop down menu-->
                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="search-settings-button">
                    <!-- Search in  project column -->
                    <li class="search-settings-menu-item" role="menuitem">
                        <input type="checkbox" ng-model="searchProject" ng-checked="searchProject" ng-init="searchProject=true"/> Project
                    </li>
                    <!-- Search in target column -->
                    <li class="search-settings-menu-item" role="menuitem">
                        <input type="checkbox" ng-model="searchTarget" ng-checked="searchTarget" ng-init="searchTarget=true"/> Target
                    </li>
                    <!-- Search in rule column -->
                    <li class="search-settings-menu-item" role="menuitem">
                        <input type="checkbox" ng-model="searchRule" ng-checked="searchRule" ng-init="searchRule=true"/> Rule
                    </li>
                    <!-- Search in default rule column -->
                    <li class="search-settings-menu-item" role="menuitem">
                        <input type="checkbox" ng-model="searchDefaultRule" ng-checked="searchDefaultRule" ng-init="searchDefaultRule=true"/> Default
                    </li>
                    <!-- Search in scopes column -->
                    <li class="search-settings-menu-item" role="menuitem">
                        <input type="checkbox" ng-model="searchScopes" ng-checked="searchScopes" ng-init="searchScopes=true"/> Scopes
                    </li>
                    <!-- Search in operations column -->
                    <li class="search-settings-menu-item" role="menuitem">
                        <input type="checkbox" ng-model="searchOperations" ng-checked="searchOperations" ng-init="searchOperations=true"/> Operations
                    </li>
                    <!-- Search in description column -->
                    <li class="search-settings-menu-item" role="menuitem">
                        <input type="checkbox" ng-model="searchDescription" ng-checked="searchDescription" ng-init="searchDescription=true"/> Description
                    </li>
                </ul>
            </div>

            <!-- Manage button -->
            <div class="btn-group manage-button" ng-show="showEditorModal">
                <button title="Manage policy" class="btn btn-primary" ng-click="openDetailsModal()" type="button">
                    <i class="fa fa-edit"></i>Manage
                </button>
            </div>


            <!-- Help Info button -->
            <div class="btn-group info-button">
                <button title="Information" class="btn btn-default" ng-click="openInfoModal()" type="button">
                    <i class="fa fa-info-circle"></i>
                </button>
            </div>
        </div>
    </div>
    <br>

    <!-- Table -->
    <table class="policies-table">
        <!-- Table headers -->
        <thead>
            <!-- Table headers row-->
            <tr>

                <!-- Checkbox column header -->
                <th class="non-resizable-column" id="checkbox-column-header">
                    <div class="col-header col-check" title="Select all rows">
                        <input type="checkbox" class="table-checkbox">
                    </div>
                </th>

                <!-- Expander column header -->
                <th class="non-resizable-column" id="expander-column-header">
                    <div class="col-header col-expander" ng-click="toggleExpandAll()">
                        <span title="Expand all" ng-if="!expandAll"
                                    class="fa fa-chevron-right"
                                    duration="200">
                        </span>
                        <span ng-if="expandAll"
                                class="fa fa-chevron-down"
                                duration="200">
                        </span>
                    </div>
                </th>

                <!-- Project column header -->
                <th class="resizable-column" id="project-column-header" ng-show="projectColumnVisible">
                    <div class="col-header col-project" title="Sort by project" ng-click="sortColumn('project')">Project
                        <span ng-show="column == 'project'">
                            <span ng-show="!reverse" class="fa fa-sort-down"></span>
                            <span ng-show="reverse" class="fa fa-sort-up"></span>
                        </span>
                    </div>
                </th>

                <!-- Target column header -->
                <th class="resizable-column" id="target-column-header" ng-show="targetColumnVisible">
                    <div class="col-header col-target" title="Sort by target" ng-click="sortColumn('target')">Target
                        <span ng-show="column == 'target'">
                            <span ng-show="!reverse" class="fa fa-sort-down"></span>
                            <span ng-show="reverse" class="fa fa-sort-up"></span>
                        </span>
                    </div>
                </th>

                <!-- Rule column header -->
                <th class="resizable-column" id="rule-column-header" ng-show="ruleColumnVisible">
                    <div class="col-header col-rule" title="Sort by rule" ng-click="sortColumn('rule')">Rule
                        <span ng-show="column == 'rule'">
                            <span ng-show="!reverse" class="fa fa-sort-down"></span>
                            <span ng-show="reverse" class="fa fa-sort-up"></span>
                        </span>
                    </div>
                </th>

                <!-- Default rule column header -->
                <th class="resizable-column" id="default-column-header" ng-show="defaultRuleColumnVisible">
                    <div class="col-header col-default" title="Sort by default" ng-click="sortColumn('default')">Default
                        <span ng-show="column == 'default'">
                            <span ng-show="!reverse" class="fa fa-sort-down"></span>
                            <span ng-show="reverse" class="fa fa-sort-up"></span>
                        </span>
                    </div>
                </th>

                <!-- Scopes column header -->
                <th class="resizable-column" id="scopes-column-header" ng-show="scopesColumnVisible">
                    <div class="col-header col-scopes" title="Sort by scopes" ng-click="sortColumn('scopes')">Scopes
                        <span ng-show="column == 'scopes'">
                            <span ng-show="!reverse" class="fa fa-sort-down"></span>
                            <span ng-show="reverse" class="fa fa-sort-up"></span>
                        </span>
                    </div>
                </th>

                <!-- Operations column header -->
                <th class="resizable-column" id="operations-column-header" ng-show="operationsColumnVisible">
                    <div class="col-header col-operations" title="Sort by operations" ng-click="sortColumn('operations')">Operations
                        <span ng-show="column == 'operations'">
                            <span ng-show="!reverse" class="fa fa-sort-down"></span>
                            <span ng-show="reverse" class="fa fa-sort-up"></span>
                        </span>
                    </div>
                </th>

                <!-- Description column header -->
                <th class="resizable-column" id="description-column-header" ng-show="descriptionColumnVisible">
                    <div class="col-header col-description" title="Sort by description" ng-click="sortColumn('description')">Description
                        <span ng-show="column == 'description'">
                            <span ng-show="!reverse" class="fa fa-sort-down"></span>
                            <span ng-show="reverse" class="fa fa-sort-up"></span>
                        </span>
                    </div>
                </th>

                <!-- Table settings column header -->
                <th class="non-resizable-column">
                    <div class="col-header col-settings" title="Customize table view">
                        <div class="btn-group table-settings-button" uib-dropdown auto-close="outsideClick">
                            <svg-icon p="bars" title="Table settings" id="table-settings-button" uib-dropdown-toggle></svg-icon>
                            <!-- Settings button drop down menu-->
                            <ul class="dropdown-menu dropdown-menu-right table-settings-menu" uib-dropdown-menu role="menu" aria-labelledby="table-settings-button">
                                <!-- Show/hide project column in policies table -->
                                <li class="table-settings-menu-item" role="menuitem">Columns</li>
                                <li class="divider"></li>

                                <li class="table-settings-menu-item" role="menuitem">
                                    <input type="checkbox" id="projectFilter" ng-model="projectColumnVisible" ng-checked="projectColumnVisible"/> Project
                                </li>

                                <li class="table-settings-menu-item" role="menuitem">
                                    <input type="checkbox" ng-model="targetColumnVisible" ng-checked="targetColumnVisible"/> Target
                                </li>

                                <li class="table-settings-menu-item" role="menuitem">
                                    <input type="checkbox" ng-model="ruleColumnVisible" ng-checked="ruleColumnVisible"/> Rule
                                </li>

                                <li class="table-settings-menu-item" role="menuitem">
                                    <input type="checkbox" ng-model="defaultRuleColumnVisible" ng-checked="defaultRuleColumnVisible"/> Default
                                </li>

                                <li class="table-settings-menu-item" role="menuitem">
                                    <input type="checkbox" ng-model="scopesColumnVisible" ng-checked="scopesColumnVisible"/> Scopes
                                </li>

                                <li class="table-settings-menu-item" role="menuitem">
                                    <input type="checkbox" ng-model="operationsColumnVisible" ng-checked="operationsColumnVisible"/> Operations
                                </li>

                                <li class="table-settings-menu-item" role="menuitem">
                                    <input type="checkbox" ng-model="descriptionColumnVisible" ng-checked="descriptionColumnVisible"/> Description
                                </li>
                            </ul>
                        </div>
                    </div>
                </th>
            </tr>
        </thead>

        <!-- Table body -->
        <tbody>
            <!-- Table body rows -->
            <tr ng-repeat-start="item in data | orderBy:column:reverse | filter:query | limitTo:itemsPerPage:currentPage*itemsPerPage" ng-class-even="'even-table-item'">

                <!--  Checkbox column content -->
                <td id="checkbox-column-body" class="multi_select_column">
                    <div class="wrap">
                        <input type="checkbox" class="table-checkbox" checklist-model="selectedPolicies.policies" checklist-value="item" checklist-change="selectedPoliciesChanged()">
                    </div>
                </td>

                <!--  Expander column content -->
                <td id="expander-column-body" title="Expand column content" class="expander expander-column" ng-click="expandSelected(item)">
                    <div class="wrap">
                        <span ng-if="!item.expanded" class="fa fa-chevron-right" duration="200"></span>
                        <span ng-if="item.expanded" class="fa fa-chevron-down" duration="200"></span>
                    </div>
                </td>

                <!--  Project column content -->
                <td id="project-column-body" ng-show="projectColumnVisible">
                    <span ng-if="!item.expanded">
                        <div class="wrap" style="max-height: 22px;">
                            <span tooltip-placement="bottom" uib-tooltip="{$ item.project $}">
                                {$ item.project $}
                            </span>
                        </div>
                    </span>
                    <span ng-if="item.expanded">
                        <div class="wrap" style="max-height: 500px;">
                            {$ item.project $}
                        </div>
                    </span>
                </td>

                <!--  Target column content -->
                <td id="target-column-body" ng-show="targetColumnVisible">
                    <span ng-if="!item.expanded">
                        <div class="wrap" style="max-height: 22px;">
                            <span tooltip-placement="bottom" uib-tooltip="{$ item.target $}">
                                {$ item.target  $}
                            </span>
                        </div>
                    </span>
                    <span ng-if="item.expanded">
                        <div class="wrap" style="max-height: 500px;">
                            {$ item.target $}
                        </div>
                    </span>
                </td>

                <!--  Rule column content -->
                <td id="rule-column-body" ng-show="ruleColumnVisible">
                    <span ng-if="!item.expanded">
                        <div class="wrap" style="max-height: 22px;">
                            <span ng-if="!item.editMode" tooltip-placement="bottom" uib-tooltip="{$ item.rule $}">
                                <a ng-click="backupRule(item.rule); item.editMode = true">{$ item.rule $}</a>
                            </span>
                        </div>
                    </span>
                    <span ng-if="item.expanded && !item.editMode">
                        <div class="wrap" style="max-height: 500px;">
                            <a ng-click="backupRule(item.rule); item.editMode = true">{$ item.rule $}</a>
                        </div>
                    </span>
                    <span ng-if="item.editMode">
                        <div class="wrap" style="max-height: 500px;">
                            <input class="input-group-window-edit" ng-model="item.rule">
                            <button title="Cancel changes" class="btn-edit btn-warning" ng-click="item.editMode = false; item.rule = ruleBackUp">Cancel</button>
                            <button title="Save changes" class="btn-edit btn-primary" ng-click="setRule(item); item.editMode = false">Save</button>
                        </div>
                    </span>
                </td>

                <!--  Default rule column content -->
                <td id="default-column-body" ng-show="defaultRuleColumnVisible">
                    <span ng-if="!item.expanded">
                        <div class="wrap" style="max-height: 22px;">
                            <span tooltip-placement="bottom" uib-tooltip="{$ item.default $}">
                                {$ item.default  $}
                            </span>
                        </div>
                    </span>
                    <span ng-if="item.expanded">
                        <div class="wrap" style="max-height: 500px;">
                            {$ item.default $}
                        </div>
                    </span>
                </td>

                <!--  Scopes column content -->
                <td id="scopes-column-body" ng-show="scopesColumnVisible">
                    <div ng-if="!item.expanded" class="wrap" style="max-height: 22px;">
                        <div ng-repeat="scope in item.scopes track by $index">
                            <span tooltip-placement="bottom" uib-tooltip="{$ item.scopes $}">
                                {$ scope  $}
                            </span>
                        </div>
                    </div>
                    <div ng-if="item.expanded" class="wrap" style="max-height: 500px;">
                        <div ng-repeat="scope in item.scopes track by $index">
                            <span tooltip-placement="bottom" uib-tooltip="{$ item.scopes $}">
                                {$ scope $}
                            </span>
                        </div>
                    </div>
                </td>

                <!--  Operations column content -->
                <td id="operations-column-body" ng-show="operationsColumnVisible">
                    <div ng-if="!item.expanded" class="wrap" style="max-height: 22px;">
                        <div ng-repeat="operation in item.operations track by $index">
                            <span tooltip-placement="bottom" uib-tooltip="{$ item.operations $}">
                                {$ operation $}
                            </span>
                        </div>
                    </div>
                    <div ng-if="item.expanded" class="wrap" style="max-height: 500px;">
                        <div ng-repeat="operation in item.operations track by $index">
                            <span tooltip-placement="bottom" uib-tooltip="{$ item.operations $}">
                                {$ operation $}
                            </span>
                        </div>
                    </div>
                </td>

                <!--  Description column content -->
                <td id="description-column-body" ng-show="descriptionColumnVisible">
                    <span ng-if="!item.expanded">
                        <div class="wrap" style="max-height: 22px;">
                            <span tooltip-placement="bottom" uib-tooltip="{$ item.description $}">
                                {$ item.description $}
                            </span>
                        </div>
                    </span>
                    <span ng-if="item.expanded">
                        <div class="wrap" style="max-height: 500px;">
                            {$ item.description $}
                        </div>
                    </span>
                </td>

                <!--  Empty row column for table settings header-->
                <td></td>

            <tr ng-repeat-end></tr>
        </tbody>
    </table>

    <!--  Scroll to top button -->
    <div id="scrollArea" ng-controller="ScrollController">
        <a id="btnUp" style="display:none;" class="btn btn-primary gotoTop" ng-click="gotoTop()">Go to top</a>
    </div>

    <!--  Page navigation -->
    <nav aria-label="Page navigation" align="center">
        <ul class="pagination">

            <!--  Go to first page -->
            <li ng-disabled="currentPage==0">
                <a aria-label="First" ng-click="goToFirstPage()" >
                    <span aria-hidden="true" class="fa fa-angle-double-left"></span>
                </a>
            </li>

            <!--  Go to previous page -->
            <li ng-disabled="currentPage==0">
                <a aria-label="Previous" ng-click="goToPreviousPage()" >
                    <span aria-hidden="true" class="fa fa-angle-left"></span>
                </a>
            </li>

            <!--  Go to page in list of page numbers -->
            <li ng-repeat="page in [].constructor(numberOfPages()) track by $index" ng-class="{active:currentPage==$index}" ng-disabled="currentPage==$index">
                <a ng-click="goToPage($index)">{$ $index+1 $}</a>
            </li>

            <!--  Go to next page -->
            <li ng-disabled="currentPage >= numberOfPages()">
                <a aria-label="Next" ng-click="goToNextPage()">
                    <span aria-hidden="true" class="fa fa-angle-right"></span>
                </a>
            </li>

            <!--  Go to last page -->
            <li ng-disabled="currentPage >= data.length/itemsPerPage - 1">
                <a aria-label="Last" ng-click="goToLastPage()">
                    <span aria-hidden="true" class="fa fa-angle-double-right"></span>
                </a>
            </li>

        </ul>
    </nav>
</div>